main {
  display: flex;
  flex-flow: row wrap;

  section:first-child {
    width: 100%;

    display: flex;
    flex-flow: row wrap;

    & > div:first-child {
      width: 100%;
    }

    h2 {
      width: fit-content;
      padding: 0.2rem 1rem;
      margin: 0 auto;
      text-align: center;
      border-radius: 0.4rem;
      background-color: #04838f;

      color: white;
      font-weight: 400;
      margin-bottom: 1rem;
    }
  }
}

.chart-wrapper {
  width: 100%;
  min-width: 280px;
  min-height: 600px;
}

.numbers-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  margin: 0 auto;
  text-align: center;

  div {
    h3 {
      margin: 0;
      margin-bottom: 0.4rem;
      font-weight: 400;
      color: gray;
    }
    span {
      font-weight: 700;
    }

    border: 2px solid #04838f;
    padding: 0.8rem 0.6rem;
    border-radius: 0.6rem;
  }
}
