<!-- <p>{{ (olympics$ | async)?.length }} data loaded</p> -->

<div *ngIf="loading" class="message loading">
  {{ loading }}
</div>

<div *ngIf="error" class="message error">
  {{ error }}
</div>



<main *ngIf="error === null && loading === null" class="pie">
  <section>
    <div>
      <h2>Medals per country</h2>
    </div>
    <div class="numbers-wrapper">
      <div>
        <h3>Number of JOs</h3>
        <span>{{ entries }}</span>
      </div>
      <div>
        <h3>Number of countries</h3>
        <span>{{ countries }}</span>
      </div>
    </div>
  </section>
  <section class="chart-wrapper">
    <ngx-charts-pie-chart
      [scheme]="'cool'"
      [results]="chartData"
      [gradient]="false"
      [legend]="false"
      [labels]="true"
      [doughnut]="false"
      (select)="onSelect($event)"
    >
    </ngx-charts-pie-chart>
  </section>
</main>
