<!-- <p>{{ (olympics$ | async)?.length }} data loaded</p> -->

<main>
  <section>
    <div>
      <h2>{{ country }}</h2>
    </div>
    <div class="numbers-wrapper">
      <div>
        <h3>Number of JOs</h3>
        <span>{{ entries }}</span>
      </div>
      <div>
        <h3>Total number medals</h3>
        <span>{{ totalMedals }}</span>
      </div>
      <div>
        <h3>Total number athletes</h3>
        <span>{{ totalAthletes }}</span>
      </div>
    </div>
  </section>
  <section class="chart-wrapper">
    <ngx-charts-line-chart
      [scheme]="'cool'"
      [legend]="false"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxis]="true"
      [yAxis]="true"
      [xAxisLabel]="'Années'"
      [yAxisLabel]="'Médailles'"
      [timeline]="false"
      [results]="chartData"
      [xAxisTicks]="[2012, 2016, 2020]"
    >
    </ngx-charts-line-chart>
  </section>
  <a class="return" routerLink="/" aria-label="retourner à l'accueil">⬅️</a>
</main>
